.hero {
    position: relative;
}

.hero img {
    width: 100%;
}

.hero-text-container {
    width: 100%;
    position: absolute;
    top: 50%;
}

.hero-text {
    width: $inner-width;
    margin: 0 auto;
    color: $c-white;
    opacity: 0;
    transform: translateY(-200px);
    transition: all 1s;
}

.hero-text.ready {
    transform: translateY(0);
    opacity: 1;
}

.hero-text p {
    width: 380px;
}