// Colors
$c-black: #424242;
$c-black-trans: rgba(20, 20, 20, 0.9);
$c-white: #ffffff;
$c-gray: #929292;
$c-blue: #0097d9;

$text-color: $c-black;

// Fonts
$font-family-sans-serif: 'Roboto', sans-serif;